asgiref
backend
certifi
cffi
charset-normalizer
cryptography
defusedxml
diff-match-patch
Django
django-allauth
django-ckeditor-5
django-import-export
django-js-asset
django-phonenumber-field
django-webp 
idna
mysqlclient
oauthlib
Pillow
pycparser
PyJWT
pyTelegramBotAPI
python3-openid
requests
requests-oauthlib
sqlparse
typing_extensions
urllib3
amqp
APScheduler
asttokens
backcall
billiard
cachetools
certifi
click
click-didyoumean
click-plugins
click-repl
decorator
django-admin-list-filter-dropdown
django-environ
django-json-widget
django-timezone-field
executing
future
ipython
jedi
kombu
matplotlib-inline
parso
pexpect
pickleshare
prompt-toolkit
psycopg2-binary
ptyprocess
pure-eval
Pygments
python-crontab
python-dateutil
python-telegram-bot
six
sqlparse
stack-data
telegram-django-bot
tornado
traitlets
tzlocal
vine
wcwidth
