{% extends 'diagnost/base.html' %}
{% load static %}
{% load webp %}


{% block description %}Страница об организации Диагностика авто Владикавказ{% endblock %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="top-shadow"></div>
    
    <div class="inner-page">
    <div class="slider-item" style="background-image: url('{% static 'images/about.webp' %}');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate pt-5">
              <h1 class="pt-5"><span>О нас</span></h1>
              <p class="mb-5 w-75">Познакомьтесь с нашей командой единомышленников, мы знаем толк в диагностике и ремонте авто</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    
    

    <section>
      <div class="half d-lg-flex d-block">
        <div class="image element-animate" data-animate-effect="fadeIn" style="background-image: url('{% static 'images/industrial_hero2.webp' %}')"></div>
        <div class="text text-center element-animate">
          <h3 class="mb-4">Наши цели</h3>
          <p class="mb-5">Профессиональный ремонт ходовой части, особенно внедорожников.

Компьютерная диагностика с применением искусственного интеллекта.

Установка и ремонт аудиосистем, настройка автозвука под индивидуальные предпочтения.

Современное оборудование и автоматизированные системы анализа.

Обученный персонал и гарантия качества работ.

Прозрачный и удобный сервис для клиентов.

Укрепление репутации как техцентра нового поколения во Владикавказе.</p>
          <p><a href="#" class="btn btn-primary btn-sm px-3 py-2">Читать далее</a></p>
        </div>
      </div>

      <div class="half d-lg-flex d-block">
        <div class="image order-2 element-animate" data-animate-effect="fadeIn" style="background-image: url('{% static '#' %}')"></div>
        <div class="text text-center element-animate">
          <h3 class="mb-4">История компании</h3>
          <p class="mb-5">Компания «Автозвук» берёт своё начало в 1999 году во дворе гостиницы Кадгарон в Республике Северная Осетия — Алания. Здесь, в небольшом одиночном боксе, группа энтузиастов, увлечённых автозвуком и автомобильной электроникой, начала свою деятельность.

Их объединяла страсть к качественному звуку в автомобиле и желание сделать установку аудиосистем и сигнализаций не просто технической работой, а искусством. Первые клиенты приходили по рекомендации — за индивидуальным подходом, точной настройкой и вниманием к деталям.

Спрос на услуги рос, и вскоре деятельность вышла за рамки только автозвука. Начали осваивать электронную диагностику, установку охранных систем, ремонт электрики, а затем и ходовой части. Появилось новое оборудование, расширился штат, повысились стандарты.

Сегодня «Автозвук» — это надёжный автосервис во Владикавказе с современным оснащением, компьютерной диагностикой, ремонтом подвески и установкой продвинутых аудиосистем. Но в основе всё то же: техническое мастерство, энтузиазм и уважение к каждому автомобилю.<p><a href="#" class="btn btn-primary btn-sm px-3 py-2">Читать далее</a></p>
        </div>
      </div>

    </section>

    <section class="section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 element-animate ">
            <div class="media block-6 d-block text-center">
              <div class="icon mb-3"><span class="ion-android-notifications text-primary"></span></div>
              <div class="media-body">
                <h3 class="heading">Modern Design</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>  

          </div>
          <div class="col-md-6 col-lg-4 element-animate ">
            <div class="media block-6 d-block text-center">
              <div class="icon mb-3"><span class="ion-heart text-primary"></span></div>
              <div class="media-body">
                <h3 class="heading">Built With Passion</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div> 

          </div>
          <div class="col-md-6 col-lg-4 element-animate ">
            <div class="media block-6 d-block text-center">
              <div class="icon mb-3"><span class="ion-flash text-primary"></span></div>
              <div class="media-body">
                <h3 class="heading">Fast Loading</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div> 

          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    
    
    <section class="section">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class="heading mb-4">Meet The Team</h2>
            <p class="mb-5 lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="media d-block media-custom text-center">
              <a href="#"><img src="images/person_1.jpg" alt="Image Placeholder" class="img-fluid"></a>
              <div class="media-body">
                <h3 class="mt-0 text-black">Mellisa Howard</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="media d-block media-custom text-center">
              <a href="#"><img src="images/person_2.jpg" alt="Image Placeholder" class="img-fluid"></a>
              <div class="media-body">
                <h3 class="mt-0 text-black">Mike Richardson</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="media d-block media-custom text-center">
              <a href="#"><img src="images/person_4.jpg" alt="Image Placeholder" class="img-fluid"></a>
              <div class="media-body">
                <h3 class="mt-0 text-black">Laura Smith</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="media d-block media-custom text-center">
              <a href="#"><img src="images/person_3.jpg" alt="Image Placeholder" class="img-fluid"></a>
              <div class="media-body">
                <h3 class="mt-0 text-black">Kevin Gold</h3>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <!-- END section -->




{% endblock %}


