{% extends 'diagnost/base.html' %}
{% load static %}
{% load webp %}


{% block description %}Страница о проектах организации Автозвук Владикавказ{% endblock %}

{% block title %}Проекты{% endblock %}

{% block content %}

    <div class="top-shadow"></div>
    
    <div class="inner-page">
    <div class="slider-item" style="background-image: url('{% static 'images/projects.webp' %}');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate pt-5">
              <h1 class="pt-5"><span>Наши проекты</span></h1>
              <p class="mb-5 w-75">Мы с гордостью представляем Вам наши лучшие проекты</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    

    <section class="section border-t">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Проекты</h2>
            <p class="mb-5 lead">Ознакомьтесь с нашими проектами</p>
          </div>
        </div>
      </div>
      <div class="container">
      	
        <div class="row no-gutters">
        	{% for p in view.all_projects %}
          <div class="col-md-4 element-animate">
            <a href="{{ p.get_absolute_url }}" class="link-thumbnail">
              <h3>{{ p.title }}</h3>
              <span class="ion-plus icon"></span>
        		{% if p.photo %}
              <img src="{{ p.photo.url }}" alt="{{ p.title }}" class="img-fluid">
            	{% else %}
            	<img src="{% static 'images/no_photo.webp' %}" alt="{{ p.title }}" class="img-fluid">
            	{% endif %}
            </a>
          </div>
          {% endfor %}
        </div>
        
      </div>
    </section>
    <!-- END section -->

    <section class="section bg-light block-11">
      <div class="container"> 
        <div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Отзывы</h2>
          </div>
        </div>
        <div class="nonloop-block-11 owl-carousel">
        	{% for r in view.all_reviews %}
        	<div class="item">
            	<div class="block-33 h-100">
                	<div class="vcard d-flex mb-3">
                		<div class="image align-self-center"><img src="{{ r.photo.url }}" alt="{{ r.name }}"></div>
                		<div class="name-text align-self-center">
                    		<h2 class="heading">{{ r.name }}</h2>
                    		<span class="meta">XYZ Inc</span>
                		</div>
                	</div>
                	<div class="text">
                		<blockquote>
                    		<p>{{ r.body }}</p>
                		</blockquote>
                	</div>
            	</div>
        	</div>
        	{% endfor %}
        </div>
      </div>
    </div>
    <!-- END .block-4 -->
    </section>

    
{% endblock %}    